<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtrue.backend.dao.users.UsersMapper">
  <resultMap id="BaseResultMap" type="com.wtrue.backend.po.users.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ID_NUM" jdbcType="VARCHAR" property="idNum" />
    <result column="WX_ID" jdbcType="VARCHAR" property="wxId" />
    <result column="ZFB_ID" jdbcType="VARCHAR" property="zfbId" />
    <result column="DELETED" jdbcType="VARCHAR" property="deleted" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>